
Doku_Generator.log
Doku_Generator.pdf
Doku_Generator.synctex.gz
Doku_Generator.synctex.toc
Doku_Generator.synctex.aux
Doku_Generator.lot
Doku_Generator.aux
wind-challenge_rechnung/__pycache__/generator.cpython-36.pyc
